## Cars Dataset
### Here is a data of different cars is given with their specifications

In [56]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os

#### Import data

In [57]:
file_path = os.path.join(os.getcwd(),"raw_data/2. Cars Data1.csv")
df = pd.read_csv(file_path)

#### Exploration of data

In [58]:
df.head()

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,"$36,945","$33,337",3.5,6.0,265.0,17.0,23.0,4451.0,106.0,189.0
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4.0,200.0,24.0,31.0,2778.0,101.0,172.0
2,Acura,TSX 4dr,Sedan,Asia,Front,"$26,990","$24,647",2.4,4.0,200.0,22.0,29.0,3230.0,105.0,183.0
3,Acura,TL 4dr,Sedan,Asia,Front,"$33,195","$30,299",3.2,6.0,270.0,20.0,28.0,3575.0,108.0,186.0
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,"$43,755","$39,014",3.5,6.0,225.0,18.0,24.0,3880.0,115.0,197.0

In [59]:
df.dtypes

Make            object
Model           object
Type            object
Origin          object
DriveTrain      object
MSRP            object
Invoice         object
EngineSize     float64
Cylinders      float64
Horsepower     float64
MPG_City       float64
MPG_Highway    float64
Weight         float64
Wheelbase      float64
Length         float64
dtype: object

##### It's possible to change the type of value of invoice for a float and add a new column with with the name of currency assuming that all the invoices are in USD

In [60]:
df.shape

(432, 15)

In [61]:
df.columns

Index(['Make', 'Model', 'Type', 'Origin', 'DriveTrain', 'MSRP', 'Invoice',
       'EngineSize', 'Cylinders', 'Horsepower', 'MPG_City', 'MPG_Highway',
       'Weight', 'Wheelbase', 'Length'],
      dtype='object')

In [62]:
df.index

RangeIndex(start=0, stop=432, step=1)

In [63]:
df.count()

Make           428
Model          428
Type           428
Origin         428
DriveTrain     428
MSRP           428
Invoice        428
EngineSize     428
Cylinders      426
Horsepower     428
MPG_City       428
MPG_Highway    428
Weight         428
Wheelbase      428
Length         428
dtype: int64

In [64]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 432 entries, 0 to 431
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Make         428 non-null    object
 1   Model        428 non-null    object
 2   Type         428 non-null    object
 3   Origin       428 non-null    object
 4   DriveTrain   428 non-null    object
 5   MSRP         428 non-null    object
 6   Invoice      428 non-null    object
 7   EngineSize   428 non-null    float64
 8   Cylinders    426 non-null    float64
 9   Horsepower   428 non-null    float64
 10  MPG_City     428 non-null    float64
 11  MPG_Highway  428 non-null    float64
 12  Weight       428 non-null    float64
 13  Wheelbase    428 non-null    float64
 14  Length       428 non-null    float64
dtypes: float64(8), object(7)
memory usage: 50.8+ KB

#### Cylinders column have empty of nulls values

In [65]:
df['Make'].unique()

array(['Acura', 'Audi', 'BMW', nan, 'Buick', 'Cadillac', 'Chevrolet',
       'Chrysler', 'Dodge', 'Ford', 'GMC', 'Honda', 'Hummer', 'Hyundai',
       'Infiniti', 'Isuzu', 'Jaguar', 'Jeep', 'Kia', 'Land Rover',
       'Lexus', 'Lincoln', 'MINI', 'Mazda', 'Mercedes-Benz', 'Mercury',
       'Mitsubishi', 'Nissan', 'Oldsmobile', 'Pontiac', 'Porsche', 'Saab',
       'Saturn', 'Scion', 'Subaru', 'Suzuki', 'Toyota', 'Volkswagen',
       'Volvo'], dtype=object)

In [66]:
df['Type'].unique()

array(['SUV', 'Sedan', 'Sports', 'Wagon', nan, 'Truck', 'Hybrid'],
      dtype=object)

In [67]:
df['Origin'].unique()

array(['Asia', 'Europe', nan, 'USA'], dtype=object)

### Is necessary check all values in each column because exist nan values who maybe I couldn't find yet

In [68]:
df.nunique()

Make            38
Model          425
Type             6
Origin           3
DriveTrain       3
MSRP           410
Invoice        425
EngineSize      43
Cylinders        7
Horsepower     110
MPG_City        28
MPG_Highway     33
Weight         348
Wheelbase       40
Length          67
dtype: int64

In [69]:
df.describe()

,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
count,428.000000,426.000000,428.000000,428.000000,428.000000,428.000000,428.000000,428.000000
mean,3.196729,5.807512,215.885514,20.060748,26.843458,3577.953271,108.154206,186.362150
std,1.108595,1.558443,71.836032,5.238218,5.741201,758.983215,8.311813,14.357991
min,1.300000,3.000000,73.000000,10.000000,12.000000,1850.000000,89.000000,143.000000
25%,2.375000,4.000000,165.000000,17.000000,24.000000,3104.000000,103.000000,178.000000
50%,3.000000,6.000000,210.000000,19.000000,26.000000,3474.500000,107.000000,187.000000
75%,3.900000,6.000000,255.000000,21.250000,29.000000,3977.750000,112.000000,194.000000
max,8.300000,12.000000,500.000000,60.000000,66.000000,7190.000000,144.000000,238.000000

### I created a copy of all data for do modification

In [70]:
df_copy = df.copy()

#### I Began changing  all data located in column MSRP deleting extra symbols and transforming his type of data to float

In [71]:
def transform_column(val):
    val = val.astype(str)
    val = val.str.replace('$','')
    val = val.str.replace(',','.')
    val = val.astype(float)
    return val

df_copy['Currency'] = df_copy.apply(lambda col: 'USD', axis=1 )
df_copy['MSRP'] = transform_column(df_copy['MSRP'])
df_copy['Invoice'] = transform_column(df_copy['Invoice'])

/tmp/ipykernel_24674/701207688.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  val = val.str.replace('$','')

In [72]:
df_copy.dtypes

Make            object
Model           object
Type            object
Origin          object
DriveTrain      object
MSRP           float64
Invoice        float64
EngineSize     float64
Cylinders      float64
Horsepower     float64
MPG_City       float64
MPG_Highway    float64
Weight         float64
Wheelbase      float64
Length         float64
Currency        object
dtype: object

#### 1 Find all null values in the dataset, if there is any null value in any column, then fill it wiht the median or mode of the column

In [73]:
df_copy.isnull().sum()

Make           4
Model          4
Type           4
Origin         4
DriveTrain     4
MSRP           4
Invoice        4
EngineSize     4
Cylinders      6
Horsepower     4
MPG_City       4
MPG_Highway    4
Weight         4
Wheelbase      4
Length         4
Currency       0
dtype: int64

In [74]:
df_copy = df_copy.fillna(df_copy.median())

/tmp/ipykernel_24674/4191083278.py:1: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df_copy = df_copy.fillna(df_copy.median())

In [75]:
df_copy[df_copy.isnull().any(axis=1)]

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length,Currency
30,NaN,NaN,NaN,NaN,NaN,27.635,25.2945,3.0,6.0,210.0,19.0,26.0,3474.5,107.0,187.0,USD
39,NaN,NaN,NaN,NaN,NaN,27.635,25.2945,3.0,6.0,210.0,19.0,26.0,3474.5,107.0,187.0,USD
161,NaN,NaN,NaN,NaN,NaN,27.635,25.2945,3.0,6.0,210.0,19.0,26.0,3474.5,107.0,187.0,USD
173,NaN,NaN,NaN,NaN,NaN,27.635,25.2945,3.0,6.0,210.0,19.0,26.0,3474.5,107.0,187.0,USD

In [76]:
df_copy = df_copy.apply( lambda val : val.fillna(val.value_counts().index[0]))

In [77]:
df_copy.isnull().sum()

Make           0
Model          0
Type           0
Origin         0
DriveTrain     0
MSRP           0
Invoice        0
EngineSize     0
Cylinders      0
Horsepower     0
MPG_City       0
MPG_Highway    0
Weight         0
Wheelbase      0
Length         0
Currency       0
dtype: int64

### 2 Question (based on value Counts), check what are the different types of makes are there in our dataset, and what is the count (occurrence) of each Make in data?

In [78]:
df_copy['Make'].value_counts()

Toyota           32
Chevrolet        27
Mercedes-Benz    26
Ford             23
BMW              20
Audi             19
Nissan           17
Honda            17
Chrysler         15
Volkswagen       15
Mitsubishi       13
Dodge            13
Hyundai          12
Jaguar           12
Volvo            12
Kia              11
Mazda            11
Lexus            11
Pontiac          11
Subaru           11
Lincoln           9
Mercury           9
Buick             9
Saturn            8
Infiniti          8
GMC               8
Cadillac          8
Suzuki            8
Porsche           7
Saab              7
Acura             7
Oldsmobile        3
Jeep              3
Land Rover        3
MINI              2
Scion             2
Isuzu             2
Hummer            1
Name: Make, dtype: int64

### 3 (Filtering), show all the records where Origin is Asia or Europe

In [79]:
df_copy[(df_copy['Origin'] == 'Asia') | (df_copy['Origin'] == 'Europe')]

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length,Currency
0,Acura,MDX,SUV,Asia,All,36.945,33.337,3.5,6.0,265.0,17.0,23.0,4451.0,106.0,189.0,USD
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,23.820,21.761,2.0,4.0,200.0,24.0,31.0,2778.0,101.0,172.0,USD
2,Acura,TSX 4dr,Sedan,Asia,Front,26.990,24.647,2.4,4.0,200.0,22.0,29.0,3230.0,105.0,183.0,USD
3,Acura,TL 4dr,Sedan,Asia,Front,33.195,30.299,3.2,6.0,270.0,20.0,28.0,3575.0,108.0,186.0,USD
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,43.755,39.014,3.5,6.0,225.0,18.0,24.0,3880.0,115.0,197.0,USD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
427,Volvo,C70 LPT convertible 2dr,Sedan,Europe,Front,40.565,38.203,2.4,5.0,197.0,21.0,28.0,3450.0,105.0,186.0,USD
428,Volvo,C70 HPT convertible 2dr,Sedan,Europe,Front,42.565,40.083,2.3,5.0,242.0,20.0,26.0,3450.0,105.0,186.0,USD
429,Volvo,S80 T6 4dr,Sedan,Europe,Front,45.210,42.573,2.9,6.0,268.0,19.0,26.0,3653.0,110.0,190.0,USD
430,Volvo,V40,Wagon,Europe,Front,26.135,24.641,1.9,4.0,170.0,22.0,29.0,2822.0,101.0,180.0,USD
431,Volvo,XC70,Wagon,Europe,All,35.145,33.112,2.5,5.0,208.0,20.0,27.0,3823.0,109.0,186.0,USD

#### 4 (Removing unwanted records), remove all the records (rows) where weight is above 4000

In [80]:
df_copy[~(df_copy['Weight'] < 4000)]

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length,Currency
0,Acura,MDX,SUV,Asia,All,36.945,33.337,3.5,6.0,265.0,17.0,23.0,4451.0,106.0,189.0,USD
15,Audi,A4 3.0 Quattro convertible 2dr,Sedan,Europe,All,44.240,40.075,3.0,6.0,220.0,18.0,25.0,4013.0,105.0,180.0,USD
17,Audi,A6 4.2 Quattro 4dr,Sedan,Europe,All,49.690,44.936,4.2,8.0,300.0,17.0,24.0,4024.0,109.0,193.0,USD
18,Audi,A8 L Quattro 4dr,Sedan,Europe,All,69.190,64.740,4.2,8.0,330.0,17.0,24.0,4399.0,121.0,204.0,USD
20,Audi,RS 6 4dr,Sports,Europe,Front,84.600,76.417,4.2,8.0,450.0,15.0,22.0,4024.0,109.0,191.0,USD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
405,Volkswagen,Touareg V6,SUV,Europe,All,35.515,32.243,3.2,6.0,220.0,15.0,20.0,5086.0,112.0,187.0,USD
415,Volkswagen,Phaeton 4dr,Sedan,Europe,Front,65.000,59.912,4.2,8.0,335.0,16.0,22.0,5194.0,118.0,204.0,USD
416,Volkswagen,Phaeton W12 4dr,Sedan,Europe,Front,75.000,69.130,6.0,12.0,420.0,12.0,19.0,5399.0,118.0,204.0,USD
419,Volkswagen,Passat W8,Wagon,Europe,Front,40.235,36.956,4.0,8.0,270.0,18.0,25.0,4067.0,106.0,184.0,USD
420,Volvo,XC90 T6,SUV,Europe,All,41.250,38.851,2.9,6.0,268.0,15.0,20.0,4638.0,113.0,189.0,USD

#### 5 (Applying function on a column), increase all the values of 'MPG_City' column by 3

In [81]:
df_copy['MPG_City'] = df_copy['MPG_City'].apply(lambda var : var+3)
df_copy

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length,Currency
0,Acura,MDX,SUV,Asia,All,36.945,33.337,3.5,6.0,265.0,20.0,23.0,4451.0,106.0,189.0,USD
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,23.820,21.761,2.0,4.0,200.0,27.0,31.0,2778.0,101.0,172.0,USD
2,Acura,TSX 4dr,Sedan,Asia,Front,26.990,24.647,2.4,4.0,200.0,25.0,29.0,3230.0,105.0,183.0,USD
3,Acura,TL 4dr,Sedan,Asia,Front,33.195,30.299,3.2,6.0,270.0,23.0,28.0,3575.0,108.0,186.0,USD
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,43.755,39.014,3.5,6.0,225.0,21.0,24.0,3880.0,115.0,197.0,USD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
427,Volvo,C70 LPT convertible 2dr,Sedan,Europe,Front,40.565,38.203,2.4,5.0,197.0,24.0,28.0,3450.0,105.0,186.0,USD
428,Volvo,C70 HPT convertible 2dr,Sedan,Europe,Front,42.565,40.083,2.3,5.0,242.0,23.0,26.0,3450.0,105.0,186.0,USD
429,Volvo,S80 T6 4dr,Sedan,Europe,Front,45.210,42.573,2.9,6.0,268.0,22.0,26.0,3653.0,110.0,190.0,USD
430,Volvo,V40,Wagon,Europe,Front,26.135,24.641,1.9,4.0,170.0,25.0,29.0,2822.0,101.0,180.0,USD
431,Volvo,XC70,Wagon,Europe,All,35.145,33.112,2.5,5.0,208.0,23.0,27.0,3823.0,109.0,186.0,USD

### 8 Which is the model more common in the dataset

In [82]:
df_copy['Model'].value_counts()[:1]

G35 4dr    6
Name: Model, dtype: int64

### 9 Which is the most expensive car in MSRP's collumn

In [83]:
df_copy[(df_copy['MSRP'].max()) == df_copy['MSRP'] ]

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length,Currency
338,Porsche,911 GT2 2dr,Sports,Europe,Rear,192.465,173.56,3.6,6.0,477.0,20.0,24.0,3131.0,93.0,175.0,USD

### 10 What is the heaviest car?

In [84]:
df_copy[(df_copy['Weight'].max()) == df_copy['Weight']]

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length,Currency
120,Ford,Excursion 6.8 XLT,SUV,USA,All,41.475,36.494,6.8,10.0,310.0,13.0,13.0,7190.0,137.0,227.0,USD

### 11 How many  cars in the dataset have rear-wheal drive?

In [85]:
df[df_copy['DriveTrain'] == 'Rear']['DriveTrain'].count()

110

### 12 What is the mean of miles by gallon (MPG in city) for all cars?

In [86]:
df_copy['MPG_City'].mean()

23.050925925925927

### 13 What is the median of Horsepower for all cars?

In [87]:
df_copy['Horsepower'].mean()

215.8310185185185

### 14 How many cylinder is the mean for all cars

In [88]:
df_copy['Cylinders'].mean()

5.810185185185185

### 15 Which is the range of invoices prices for all cars?

In [94]:
Q1_invoice_price = df_copy['Invoice'].quantile(q=0.25)
Q3_invoice_price = df_copy['Invoice'].quantile(q=0.75)
print(Q1_invoice_price)
print(Q3_invoice_price)
print(Q3_invoice_price - Q1_invoice_price)

18.914749999999998
35.578500000000005
16.663750000000007

### 16 How many cars are from USA

In [102]:
df_copy[(df_copy['Origin']) == 'USA']['Model'].count()

147

### 17 What is the median length for cars

In [105]:
df_copy['Length'].median()

187.0

### 18 What is the car's type more common

In [114]:
df_copy['Type'].value_counts()[:1]

Sedan    266
Name: Type, dtype: int64

### 19 What are the top 5 model's more expensive in MSRP terms

In [155]:
df_copy[['Model','MSRP']].sort_values(by='MSRP',ascending=False)[:5]

                     Model     MSRP
338            911 GT2 2dr  192.465
266              CL600 2dr  128.420
275  SL600 convertible 2dr  126.670
274           SL55 AMG 2dr  121.770
265              CL500 2dr   94.820

### 20 What are the top 5 model's heaviest

In [156]:
df_copy[['Model','Weight']].sort_values(by='Weight',ascending=False)[:5]

                 Model  Weight
120  Excursion 6.8 XLT  7190.0
169                 H2  6400.0
145  Yukon XL 2500 SLT  6133.0
233   Navigator Luxury  5969.0
64        Escalade EXT  5879.0

### 21 How many cars has rear_wheel by type and by origin

In [182]:
df_copy[df_copy['DriveTrain'] == 'Rear'].groupby(['Type', 'Origin']).size()

Type    Origin
Sedan   Asia       9
        Europe    30
        USA       16
Sports  Asia      10
        Europe    18
        USA        8
Truck   Asia       3
        USA        9
Wagon   Asia       3
        Europe     2
        USA        2
dtype: int64